<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore xdt:Transform="Replace" processPath=".\IdentityExpress.Manager.Api.exe" arguments="" stdoutLogEnabled="true" stdoutLogFile="\\?\%home%\LogFiles\stdout"  forwardWindowsAuthToken="false" startupTimeLimit="3600" hostingModel="inprocess">
	        <environmentVariables />
	  </aspNetCore>
    </system.webServer>
</configuration>